@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-main:  #16161a;
  
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #16161a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components{

  .blue-button-with-hover{
    @apply rounded-lg bg-sky-600 text-white border-1 border-black hover:bg-blue-500 focus:outline-2 focus:outline-offset-2 
    focus:outline-blue-400 active:bg-blue-400 items-center justify-center p-1;
  }

  .card{
    @apply m-10 h-50 w-50 rounded-lg 
    bg-gradient-to-r from-blue-400 to-blue-500 pt-15 pb-20 text-center;
  }

  .serious-button{
    @apply rounded-4xl p-1 border-1 border-blue-300 text-white 
    hover:bg-blue-300 hover:text-black transition 
    focus:outline-none focus:ring-2 focus:ring-blue-400 
    active:bg-blue-500;
  }

  .create-quiz-box{
    @apply max-w-2xl mx-auto p-6 bg-linear-to-r from-blue-500 to-blue-400 rounded-lg shadow-2xl shadow-blue-700
    text-black
  }

  .black-border-button{
    @apply rounded-4xl p-2 border-1 border-black text-black bg-sky-300
    hover:bg-blue-300 hover:text-black transition 
    focus:outline-none focus:ring-2 focus:ring-blue-400 
    active:bg-blue-500 ;
  }

  .text-logo{
    @apply ml-2 text-xl font-mono text-white hidden md:inline;
  }

  .col-card{
    @apply bg-linear-to-r from-sky-400 to-sky-600 rounded-lg m-10 text-center p-10 shadow-xl shadow-blue-900;
  }

  .input-text{
    @apply m-3 p-2 bg-blue-300 text-black border-1 border-black rounded-lg;
  }
  .room-card{
    @apply p-6 bg-linear-to-r from-sky-900 to-sky-600 rounded-lg shadow-lg shadow-blue-300 text-center cursor-pointer hover:bg-blue-700;
  }
  .auth-input-field{
    @apply w-full mb-4 p-3 rounded-md bg-blue-400 text-black;
  }

}